body
{
    font-family: Tahoma;
}

.table1
{
    width: 100%;
}

    .table1 thead th:first-child
    {
        text-align: left;
        white-space: nowrap;
        width: 4%;
    }

        .table1 thead th:first-child + th
        {
            /*background: #2F84DA;*/
            text-align: center;
            width: 10%;
            white-space: nowrap;
        }

    .table1 tbody td:first-child + td, .table1 tbody td:first-child + td + td + td
    {
        white-space: nowrap;
    }

        .table1 tbody td:first-child + td + td + td + td, .table1 tbody td:first-child + td + td + td + td + td
        {
            width: 40%;
        }

    .table1 thead th:first-child + th + th
    {
        /*background: #52C242;*/
        text-align: center;
        width: 10%;
        white-space: nowrap;
    }

        .table1 thead th:first-child + th + th + th
        {
            /*background: #C63EDA;*/
            text-align: center;
            /*width: 20%;*/
        }

            .table1 thead th:first-child + th + th + th + th
            {
                /*background: #DEBC1E;*/
                /*width: 20%;*/
            }

                .table1 thead th:first-child + th + th + th + th + th
                {
                    background: #DE421E;
                }

    .table1 td.last
    {
        white-space: nowrap;
    }

    .table1 .footer
    {
        padding: 0;
        border: none;
        background: #52C242;
        height: 3px;
    }

.linkDetail
{
    display: block;
}

.table1 thead th:first-child
{
    background: #456;
    white-space: nowrap;
}

.result
{
    color: green;
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.table1 tbody td input[type="text"]
{
    width: 80px;
}

.table1 tbody td textarea
{
    width: 98%;
    margin: auto;
}


#gvEdgeinDB thead th:first-child + th + th
{
    width: 30%;
}

    #gvEdgeinDB thead th:first-child + th + th + th
    {
        width: 30%;
    }

        #gvEdgeinDB thead th:first-child + th + th + th + th
        {
            width: 20%;
        }
