
/* Table 1 Style */
table.table1
{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse: separate;
}

.table1 thead th
{
    color: #fff;
    position: relative;
    padding: 8px 10px;
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #bd8842;
    -webkit-box-shadow: inset 1px 2px 2px rgba(240, 224, 190, 0.6);
    -moz-box-shadow: inset 1px 2px 2px rgba(240, 224, 190, 0.6);
    box-shadow: inset 1px 2px 2px rgba(240, 224, 190, 0.6);
    background: rgb(233,209,154);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZDE5YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMDlkNTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(233,209,154,1) 0%, rgba(208,157,80,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,209,154,1)), color-stop(100%,rgba(208,157,80,1)));
    background: -webkit-linear-gradient(top, rgba(233,209,154,1) 0%,rgba(208,157,80,1) 100%);
    background: -o-linear-gradient(top, rgba(233,209,154,1) 0%,rgba(208,157,80,1) 100%);
    background: -ms-linear-gradient(top, rgba(233,209,154,1) 0%,rgba(208,157,80,1) 100%);
    background: linear-gradient(to bottom, rgba(233,209,154,1) 0%,rgba(208,157,80,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9d19a', endColorstr='#d09d50',GradientType=0 );
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    .table1 thead th:empty
    {
        background: transparent;
        border: none;
    }

.table1 tbody th
{
    color: #fff;
    text-shadow: 1px 1px 1px #568F23;
    background-color: #9DD929;
    border: 1px solid #93CE37;
    border-right: 3px solid #9ED929;
    padding: 0px 10px;
    background: -webkit-gradient( linear, left bottom, right top, color-stop(0.02, rgb(158,217,41)), color-stop(0.51, rgb(139,198,66)), color-stop(0.87, rgb(123,192,67)) );
    background: -moz-linear-gradient( left bottom, rgb(158,217,41) 2%, rgb(139,198,66) 51%, rgb(123,192,67) 87% );
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.table1 tfoot td
{
    color: #9CD009;
    font-size: 32px;
    text-align: center;
    padding: 10px 0px;
    text-shadow: 1px 1px 1px #444;
}

.table1 tfoot th
{
    color: #666;
}

.table1 tbody td
{
    text-align: center;
    font-size: 14px;
    background-color: #DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #045E0B;
    /*text-shadow: 1px 1px 1px #fff;*/
    padding: 10px 7px 10px;
    background: #cdeb8e; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NkZWI4ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNWM5NTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cdeb8e 0%,#a5c956 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-8 */
}

.table1 tbody span.check::before
{
    content: url(../images/check0.png);
}
/* Table 2 Style */
table.table2
{
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.2em;
    border-collapse: collapse;
    text-align: center;
}

.table2 thead th, .table2 tfoot td
{
    padding: 20px 10px 40px 10px;
    color: #fff;
    font-size: 26px;
    background-color: #222;
    font-weight: normal;
    border-right: 1px dotted #666;
    border-top: 3px solid #666;
    -moz-box-shadow: 0px -1px 4px #000;
    -webkit-box-shadow: 0px -1px 4px #000;
    box-shadow: 0px -1px 4px #000;
    text-shadow: 1px 1px 1px #000;
}

.table2 tfoot th
{
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #888;
}

.table2 tfoot td
{
    font-size: 36px;
    color: #EF870E;
    border-top: none;
    border-bottom: 3px solid #666;
    -moz-box-shadow: 0px 1px 4px #000;
    -webkit-box-shadow: 0px 1px 4px #000;
    box-shadow: 0px 1px 4px #000;
}

.table2 thead th:empty
{
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.table2 thead :nth-last-child(1)
{
    border-right: none;
}

.table2 thead :first-child,
.table2 tbody :nth-last-child(1)
{
    border: none;
}

.table2 tbody th
{
    text-align: right;
    padding: 10px;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
    background-color: #f9f9f9;
}

.table2 tbody td
{
    padding: 10px;
    background-color: #f0f0f0;
    border-right: 1px dotted #999;
    text-shadow: -1px 1px 1px #fff;
    text-transform: uppercase;
    color: #333;
}

.table2 tbody span.check::before
{
    content: url(../images/check1.png);
}

/* Table 3 Style */
table.table3
{
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1.7em;
    text-align: center;
    border-collapse: collapse;
}

.table3 thead th
{
    padding: 6px 10px;
    text-transform: uppercase;
    color: #444;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    border-bottom: 5px solid #444;
}

    .table3 thead th:empty
    {
        background: transparent;
        border: none;
    }

.table3 thead :nth-child(2),
.table3 tfoot :nth-child(2)
{
    background-color: #7FD2FF;
}

.table3 tfoot :nth-child(2)
{
    -moz-border-radius: 0px 0px 0px 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.table3 thead :nth-child(2)
{
    -moz-border-radius: 5px 0px 0px 0px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.table3 thead :nth-child(3),
.table3 tfoot :nth-child(3)
{
    background-color: #45A8DF;
}

.table3 thead :nth-child(4),
.table3 tfoot :nth-child(4)
{
    background-color: #2388BF;
}

.table3 thead :nth-child(5),
.table3 tfoot :nth-child(5)
{
    background-color: #096A9F;
}

.table3 thead :nth-child(5)
{
    -moz-border-radius: 0px 5px 0px 0px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.table3 tfoot :nth-child(5)
{
    -moz-border-radius: 0px 0px 5px 0px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.table3 tfoot td
{
    font-size: 38px;
    font-weight: bold;
    padding: 15px 0px;
    text-shadow: 1px 1px 1px #fff;
}

.table3 tbody td
{
    padding: 10px;
}

.table3 tbody tr:nth-child(4) td
{
    font-size: 26px;
    font-weight: bold;
}

.table3 tbody td:nth-child(even)
{
    background-color: #444;
    color: #444;
    border-bottom: 1px solid #444;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.39, rgb(189,189,189)), color-stop(0.7, rgb(224,224,224)) );
    background: -moz-linear-gradient( center bottom, rgb(189,189,189) 39%, rgb(224,224,224) 70% );
    text-shadow: 1px 1px 1px #fff;
}

.table3 tbody td:nth-child(odd)
{
    background-color: #555;
    color: #f0f0f0;
    border-bottom: 1px solid #444;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.39, rgb(85,85,85)), color-stop(0.7, rgb(105,105,105)) );
    background: -moz-linear-gradient( center bottom, rgb(85,85,85) 39%, rgb(105,105,105) 70% );
    text-shadow: 1px 1px 1px #000;
}

.table3 tbody td:nth-last-child(1)
{
    border-right: 1px solid #222;
}

.table3 tbody th
{
    color: #696969;
    text-align: right;
    padding: 0px 10px;
    border-right: 1px solid #aaa;
}

.table3 tbody span.check::before
{
    content: url(../images/check2.png);
}
