.column-60 {
    min-width: 60px;
}
.column-80 {
    min-width: 80px;
    max-width: 80px;
}
.column-100 {
    min-width: 100px;
    max-width: 100px;
}
.column-120 {
    min-width: 120px;
    max-width: 120px;
}
.column-150 {
    min-width: 150px;
}
.column-180 {
    min-width: 180px;
}
.column-250 {
    min-width: 220px;
}